
<% @topics.each do |topic| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- LINK TO TOPIC  -->
      <%= image_tag("gray_profile.png", width:"80", class:"initial_icon float_left") %>

      <%= link_to topic , class:"topic_panel" do %>
        <ul>
          <li class="topic_title">
            <%= topic.title %>
            <span class="glyphicon glyphicon-comment float_right" aria-hidden="true">

              <% if topic.interests_count.nil? %>
                <span class="number_interests">0</span>
              <% else %>
                <span class="number_interests"><%= topic.interests_count %><span>
              <% end %>

            </span>
          </li>

          <li class="topic_info">
            <span class="focus"><%= topic.focus_area %></span> by <%= topic.user_id %> on <%= topic.created_at %>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
