  <div class="border-form-div">
    <h2 class="form_title"><%= t('.sign_in', default: "Sign in")%> </h2>
    <p> ^^how to change what this says </p>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { role: "form" }) do |f| %>
      <%= f.email_field :email, :placeholder => 'Email address', autofocus: true %>
      <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>

      <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </label>
        <p> ^^how to add classes to this  </p>

      </div>
      <% end %>

      <div class="form_buttons">
        <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-warning" %>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider), class: "btn btn-warning"  %><br />
          <% end -%>
        <% end -%>
      </div>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
