<!DOCTYPE html>
<html>
<head>
  <title>Irontopics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/navbar' %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>All Topics</a></li>
        <li role="presentation" class="nav_tab"><a href="#"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Topic</a></li>
      </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
        <div class="col-xs-12 col-md-6">
        <%= yield %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= render 'shared/sidebar' %>
      </div>

    </div>
</body>
</html>
