<!DOCTYPE html>
<html>
<head>
  <title>Irontopics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/navbar' %>
    <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<!-- If signed in, columns and yield. If not signed in, entire width showing form -->
      <div class="col-xs-12 col-md-8">
        <%= yield %>
      </div>

      <div class="col-xs-6 col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
    </div>

</body>
</html>
